.board{
  display: flex;
  font-family: Open sans;
  overflow: hidden;
  background-color: #ffffff;
}
.leftSection{
  width: 15vw;
  height: 100vh;
}
.rightSection{
  height: 100vh;
  width: auto;
  overflow-x: scroll;
}
.rightSection h1{
  margin-left: 3vw;
  margin-top: 5vh;
  font-size: 2vw;
  font-weight: 600;
}
.rightSection h2{
  margin-left: 3vw;
  margin-top: 3vh;
}
.rightSection::-webkit-scrollbar {
  height: .5vw
}
.rightSection::-webkit-scrollbar-track {
  background: #EEF2F5;
}
.rightSection::-webkit-scrollbar-thumb {
  background: #9CB7C5; 
  border-radius: 10px;
}
.sections{
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  width: 110vw;
  padding-left: 2vw;
  margin-top: 21vh;
}
.zones{
  height: 75vh;
  width: 26vw;
  background-color: #EEF2F5;
  margin-right: 2vw;
  border-radius: .5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1vh;
  transition: .5s ease-in;
}
.zones::-webkit-scrollbar {
  width: .5vw;
}
.zones::-webkit-scrollbar-track {
  background: #EEF2F5;
}
.zones::-webkit-scrollbar-thumb {
  background: #9CB7C5; 
  border-radius: 10px;
}
.zones h3{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.3vw;
  position: sticky;
  padding: 1.5vh 0 0 1vw;
  top: 0%;
  z-index: 1;
  background-color: #EEF2F5;
}
.zonesCollapse{
  width: 26vw;
  background-color: #EEF2F5;
  margin-right: 2vw;
  border-radius: .5rem;
  height: 7vh;
  transition: .5s ease-in;
}
.zonesCollapse h3{
  margin-top: 1.5vh;
  margin-left: 1vw;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.3vw;
  padding-right: .5vw;
}
.collapse{
 font-size: 2vw;
 cursor: pointer;
 color: #707070;
}
.collapse:hover{
  color: #000000;
}
.add{
  position: relative;
  bottom: 10%;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5vw;
}
.addpeople{
  font-size: 1vw;
  color: #707070;
  cursor: pointer;
}
.time{
  color: #707070;
  font-size: 1.2vw;
  font-weight: 500;
  position: fixed;
  left: 90%;
  top: 4%
}
.greeting{
  position: absolute;
  overflow: hidden;
}
.taskflter{
 position: absolute;
 top: 10vh;
 left: 87vw;
 background-color: #FFFFFF;
 padding: 2vh  2vw;
}
.filterarrow{
  position: absolute;
  left: 7vw;
}