.home{
  height: 100vh;
  min-width: 15vw;
  font-family: open sans;
  border-right: 1px solid #EDF5FE
}
.home h1{
  margin-left: 0;
  font-size: 1.5vw;
  font-weight: 700;
  margin-left: 2vw;
  position: relative;
  top: 8vh;
  margin-bottom: 15vh;
}
.board{
  margin-top: 15vh;
  color: #707070;
  font-size: 1.5vw;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.analytics{
  color: #707070;
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 2vh;
  cursor: pointer;
  text-decoration: none;
}
.setting{
  color: #707070;
  font-size: 1.5vw;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.logout{
  color: #CF3636;
  font-size: 1.1vw;
  margin-left: 2.5vw;
  cursor: pointer;
  margin-top: 48vh;
}
.logoutpop{
  height: 22vh;
  width: 20vw;
  margin-top: 35vh;
  margin-left: 40vw;
  background-color: #FFFFFF;
  padding: 4vh 2vw;
  font-family: open sans;
  border-radius: .5rem;
}
.logoutpop h2{
  font-size: 1vw;
  margin-left: 2vw;
}
.sure{
  border: none;
  height: 5vh;
  width: 20vw;
  background-color: #17A2B8;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: .3rem;
  font-size: 1.1vw;
  cursor: pointer;
  margin-top: 2vh;
}
.cancel{
  border: 1px solid #CF3636;
  height: 5vh;
  width: 20vw;
  background-color: #FFFFFF;
  color: #CF3636;
  font-weight: 600;
  border-radius: .3rem;
  cursor: pointer;
  font-size: 1.1vw;
  margin-top: 2vh;
}